---
import { cn } from "./utils";

const { class: className, ...rest } = Astro.props;
---

<button
  class={cn("border p-3 rounded-xl bg-orange-500 text-white", className)}
  {...rest}
>
  <slot />
</button>
