---
import Button from "./button.astro";
---

<p>Counter #1: <span id="counterSpan">0</span></p>
<Button color="green" id="counterButton">Increment</Button>

<script>
  import { useCounter } from "./use-counter";

  const counter = useCounter();

  const counterSpan = document.getElementById("counterSpan")!;
  const counterButton = document.getElementById("counterButton")!;

  window.onbeforeunload = counter.atomCounter.subscribe((count) => {
    counterSpan.textContent = count.toString();
  });

  counterButton.onclick = counter.increment;
</script>
