---
import Button from "./button.astro";
---

<p>Counter #3: <span id="counterSpan3">0</span></p>
<Button class="bg-purple-500" id="counterButton3">Increment</Button>

<script>
  import { sharedCounter } from "./use-counter";

  const { increment, atomCounter } = sharedCounter;

  const counterSpan3 = document.getElementById("counterSpan3")!;
  const counterButton3 = document.getElementById("counterButton3")!;

  const counterUnsubscribe = atomCounter.subscribe((count) => {
    counterSpan3.textContent = count.toString();
  });

  counterButton3.addEventListener("click", increment);

  window.addEventListener("beforeunload", () => {
    counterUnsubscribe();
    counterButton3.removeEventListener("click", increment);
  });
</script>
